<% include partials/header%>

<div class="container">
            <table style="margin-top:50px" class="table">
                <thead>
                    <tr>
                     <th>First Name</th>
                    <th>Last Name</th>
                    <th>School</th>
                    <th>Major</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    </tr>
               </thead>

    <% tickets.forEach(function(ticket){ %>
               <tbody>
                   <tr>
                       <td><%=ticket.first%></td>
                       <td><%=ticket.last%></td>
                       <td><%=ticket.school%></td>
                       <td><%=ticket.major%></td>
                       <td><%=ticket.email%></td>
                       <td><%=ticket.number%></td>
                   </tr>
               </tbody>
        </div>
       
    
<% })%> 
<% include partials/footer%>